# 2.3 Типы коллекций. Последовательности, множества, отображения

## Задание 1

**Условие:**
Создайте кортеж из ```10```  произвольных значений. Выведите элементы кортежа по целым положительным индексам и по целым отрицательным индексам.

**Решение:**

In [ ]:
my_tuple = (5, 10, 15, 20, 25, 30, 35, 40, 45, 50)
for i in range(len(my_tuple)):
    print(my_tuple[i])
for i in range(-1, -len(my_tuple)-1, -1):
    print(my_tuple[i])

5
10
15
20
25
30
35
40
45
50
50
45
40
35
30
25
20
15
10
5

## Задание 2

**Условие:**
Создайте список из ```10``` последовательных чисел. Прибавьте ```1``` к значениям списка, проходя по нему в цикле.

**Решение:**

In [ ]:
my_list = list(range(1, 11))

for i in range(len(my_list)):
    my_list[i] += 1

print(my_list)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## Задание 3

**Условие:**
Создайте словарь из ```5``` сотрудников, где ключ - это имя сотрудника, а значение - его заработная плата.

**Решение:**

In [ ]:
employees = {
"Анна": 50000,
    "Иван": 60000,
    "Мария": 55000,
    "Петр": 58000,
    "Елена": 52000
              }

print(employees)

{'Анна': 50000, 'Иван': 60000, 'Мария': 55000, 'Петр': 58000, 'Елена': 52000}